body {
	font-family: sans-serif;
  }
  * {
	margin: 0%;
	padding: 0%;
	text-decoration: none;
  }
  nav {
	height: 80px;
	background-color: rgb(218, 216, 200);
  }
  nav img {
	width: 100px;
	position: absolute;
	top: 12px;
	left: 1%;
  }
  nav ul {
	float: right;
  }
  nav ul li {
	display: inline-block;
	line-height: 80px;
	list-style-type: none;
	margin: 0 15px;
  }
  nav ul li a {
	position: relative;
	color: rgb(255, 255, 255);
	font-size: 18px;
	padding: 5px 0;
	text-transform: uppercase;
	cursor: pointer;
  }
  nav ul li a::before {
	position: absolute;
	content: '';
	left: 0%;
	bottom: 0%;
	height: 3px;
	width: 100%;
	background: tomato;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
  }
  nav ul li a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
  }
  nav ul li a:hover {
	  color: tomato;
  }
  #check {
	  display: none;
  }
  label #btn, label #cancel {
	color: white;
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 0%;
	top: 0%;
  }
  #myBtn {
	display: none;
	position: fixed;
	bottom: 40px;
	right:20px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(170, 124, 80);
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
  } 
  #myBtn:hover {
   background-color: #555;
  }
  .center1 {
	  width: 50%;
	  margin-left: auto;
	  margin-right: auto;
  }
  .center2 {
	  display: flex;
	  width: 400px;
	  margin-right: auto;
	  margin-left: 17%;
  }
  .center3 {
	  display: flex;
	  width: 32.8%;
  }
  footer {
	background-color: rgb(29, 27, 27);
	color: white;
	display: block;
	padding: 0%;
	bottom: 0%;
	font-size: 10px;
	text-align: center;
	height: 55px;
	width: 100%;
}
footer ul li {
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
  list-style-type: none;
}
  @media screen and (max-width: 1000px) {
	nav img {
	  left: 1%;
	  top: 15px;
	  width: 90px;
	}
	nav ul li a {
	  font-size: 20px;
	  font-weight: bold;
	}
     .center1, .center2, .center3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
}
  @media screen and (max-width: 700px) {
      #mybtn  {
		padding: 5px;
		bottom: 40px;
		right: 30px;
	  }  
      .center1, .center2, .center3 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
	  label #btn {
		  display: block;
	  }
	  nav ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: rgb(141, 136, 126);
		top: 80px;
		right: -100%;
		text-align: center;
		transition: all 0.5s;
	  }
	  nav ul li {
		display: block;
		margin: 10px 0;
		line-height: 50px;
	  }
	  nav ul li a {
		font-size: 20px;
	  }
	  #check:checked ~ ul {
		right: 0%;
	  }
	  #check:checked ~ label #btn {
		display: none;
	  }
	  #check:checked ~ label #cancel {
		display: block;
	  }
	  footer {
		font-size: 5px;
		text-align: center;
		height: 50px;
		width: 100%;
	  }
	  footer ul li {
	  font-size: 15px;
	  padding: 0 5px;
	  }
	}
